source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Core
nuget FsUnit
nuget MathNet.Numerics
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget FSharp.Formatting
  nuget Nuget.CommandLine
